# Default owners for everything else
* @amandamayfield @bananabrann

# Front-end owners

/front-end/ @amandamayfield @bananabrann @IkeNwanze @lisacopelandswe @FernandoDLT

# Back-end owners

/back-end/ @amandamayfield @bananabrann @Cindy0202-mae @elvisEspinozaN @CanterCode
